html, body{height : 100%}
#navbar {
  background-color: black;
  padding: 1% 1.5%;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  height: 6%;
  color: white;
  font-size: 1.3rem;
}

#login {
  margin-left: auto;
}

#login_key {
  position: relative;
  left : 15%;
  height: 33px;
}

#login_pw {
  position: relative;
  left : 6.7%;
  height: 33px;
}

#modal-size{
  position: relative;
  left : 0%;
  width: 30%;
  margin: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#botRegister {
  margin-left: 83%;
}

#bot_name {
  position: relative;
  left : 8%;
  height: 33px;
}

#bot_pw {
  position: relative;
  left : 8.6%;
  height: 33px;
}

#bot_email {
  position: relative;
  left : 23%;
  height: 33px;
  }
